name: Auto Comment on Issues

permissions:
  issues: write
  contents: read

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    environment: production   # MUST match environment name exactly

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install axios

      - name: Run auto comment script
        run: node script/autoComment.js
        env:
          OWNER: ${{ vars.OWNER }}
          REPO:  ${{ vars.REPO }}
          TOKEN: ${{ secrets.TOKEN }}
